<br>
<br>
<br>
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/loginreg.css">

<div class="container">
    <div class="center">
        <h1>Login</h1>
        <form action="/login" method="POSt">
            <div class="txt_field">
                <input type="email" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <!-- <div class="pass">Forgot Password?</div> -->
            <input type="submit" value="Login">
            <div class="signup_link">
                Not a member? <a href="/signup">Sign Up</a>
            </div>
        </form>
    </div>
</div>