<div class="box2">
    <h3>User Profile</h3>
    <hr>
    <div class="content1">
        <a href="/login"><button class="btn btn-outline-danger" onclick="changelogin">Signout</button></a>
    </div>
    <br />
    <div class="details1">
        <div class="detail">
            <h3>Name : {{name}}</h3>
        </div>
        <div class="detail">
            <h3>Email : {{email}}</h3>
        </div>
    </div>
    <br>
    <a href="/edit/{{id}}"><button class="btn btn-outline-danger">Edit</button></a>
</div>
</div>