<br>
<br>
<br>
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/loginreg.css">

<div class="container">
    <div class="center">
        <h1>Registration</h1>
        <form action="/signup" method="POST">
            <input type="hidden" name="id" />
            <div class="txt_field">
                <input type="text" name="name" id="name" required>
                <span></span>
                <label>Name</label>
            </div>
            <div class="txt_field">
                <input type="email" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <!-- <div class="pass">Forgot Password?</div> -->
            <input type="submit" value="Signup" onclick="nav(true)">
            <div class="signup_link">
                Already a member? <a href="/login">Log In</a>
            </div>
        </form>
    </div>
</div>

{{!-- <script src="js/nav.js"></script> --}}