<br>
<br>
<br>
<link rel="stylesheet" href="css/welcome.css">
{{!-- <input type="hidden" name="id" id="name"/> --}}

<div class="ontainer">
        <div class="left-col">
            <h1>We don't make your coffee. <br>
                 We make your day ✨</h1>
                 <hr class="welcome">
            <img src="images/coffee2.0.png" alt="">
        </div>
        <div class="right-col">
            <img src="images/we-are-open.png" alt="">
            <hr class="welcome">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia molestiae incidunt numquam dolorum mollitia qui tenetur harum totam at perferendis.</p>
        </div>
    </div>

{{!-- <script src="js/nav.js"></script> --}}